body {
    background-color: black;
    font-family: "Merriweather", serif;
    font-size: 40px;
    color: White;
    margin: 0 150px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.video-container {
    height: 50vh;
    width: 8 0vw;
    position: relative;
}

.video-container video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption h2 {
    z-index: 1;
    position: relative;
    text-align: center;
    color: #dc0000;
    padding: 10px;
    font-size: 100px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: yellowgreen;
    text-decoration: none;
}

a:active {
    color: blue;
}

.Nav {
    font-size: 35px;
    margin-top: 50px;
}

footer {
    font-size: medium;
    text-align: center;
    background-color: white;
    color: black;
    width: 100%;
    position: absolute;
    left: 0;
}

h1 {
    font-size: 30px;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.profilepic {
    text-align: center;
    margin-top: 30px;
}

.intromessage {
    font-size: 40px;
    margin: 0 300px;
    font-family: "Lobster", serif;
}

.portfoliolink {
    text-align: center;
}

.categoriesBox {
    max-width: 30%;
    font-size: 30px;
    margin-top: 300px;
    border: 3px solid black;
}

.categoriesBox h2 {
    cursor: pointer;
}

.Thumbnails {
    display: flex;
    justify-content: space-evenly;
}

h2 {
    font-size: 30px;
    text-align: center;

}

h3 {
    text-align: center;
    font-size: 20px;
}

h4 {
    font-size: 30px;

}

.portfolioinfo h1 {
    font-size: 40px;
    text-align: center;

}

.portfoiopageinfo {
    font-size: 20px;

}

p {
    font-size: 15px;
}

.Header1 {
    display: flex;
    align-items: start;
    justify-content: space-between;
    background-color: black;
    color: white;
    margin-top: 30px;
    font-size: 20px;
}

#portfolio2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.previousworksthumb {
    display: flex;
    justify-content: space-evenly;
}

.paperprototypes {
    display: flex;
    justify-content: space-evenly;


}

.videoprototypes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    border: 2px solid black;
}

.videoequipment {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

#corporatevideolink {
    text-align: center;
    border: 2px solid black;
    font-size: 15px;
}

#corporatevideolink h2 {
    font-size: 20px;
}

h4 {
    font-size: medium;
    text-align: center;
}

.projectnames h1 {
    font-size: 30px;
}

.ContactForm {
    text-align: center;
    font-size: 30px;
    border: 2px solid white;
    padding-top: 30px;
}

.contactFormFields {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}

.contactme {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    border: 2px solid black;
}

.contactparagraph {
    font-size: 20px;
    vertical-align: middle;
}

.myprograms {
    font-size: 15px;
    text-align: center;
}

.programicons {
    display: flex;
    margin-right: 40px;
}

.programicons img {
    margin-top: 5px !important;
    margin-left: 5px;
}

.homepageinfo {
    font-size: 20px;
    border: 2px solid White;
}

#clickable {
    cursor: pointer;
    color: blue;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: flex;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 25px;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: wheat
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#alignRight {
    text-align: center;
    font-size: 30px;
    margin-bottom: 80px;
    font-family: "Lobster", serif;
}

.bigFont {
    font-size: 20px;
    color: white;
   
}

.portfoliopagepizza {
    transition: transform;
}

.portfoliopagepizza:hover {
    -ms-transform: scale(0.75);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
}

.portfolioinfo h1 {
    font-size: 20px;
}



.Thumbnails img {
    margin-top: 20px;
    min-height: 310px;
}

.Thumbnails .bigFont {
    font-weight: bold;
}

.Thumbnails>div {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.alignedLabels {
    text-align: end;
    display: inline-block;
    font-size: 20px;
}

.contactInfoContainer h3 {
    font-size: 30px;
    margin-bottom: 10px !important;
    margin-top: 10px;
}

.contactInfoContainer .infoLabel {
    margin-top: 40px;
}

.contactInfoContainer {
    max-width: 50%;
    display: flex;
    align-items: center;
}

.contactFormContainer {
    width: 40%;
}

.messageinput {
    margin-top: 10px;
    height: 60px;
}

#submitButton {
    height: 30px;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.aboutmoreinfo {
    font-size: 20px;
    max-width: 50%;
}

.myskills {
    display: flex;
    text-align: left;
    font-size: large;
}

h1 {
    font-size: 50px;
    text-align: center;
}

.aboutmeinfo {
    display: flex;
    justify-content: space-between;

}

.contactinfo {
    display: flex;
    justify-content: space-between;
}

.vklogo {
    text-align: center;
    border: 2px solid black;
    margin-top: 45px;
}

#vklogo {
    text-align: center;
    margin-bottom: 30px;
}

#vkparagraph {
    margin-top: 20px;
}

#vklogo2 {
    text-align: center;
}

.vkparagraphs {
    text-align: left;
    font-size: medium;
}

.vksketches {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

.vkdesignpages {
    display: flex;
    justify-content: center;
    margin-right: 30px;
}

.techlist {
    font-size: medium;
    text-align: center;
}

.logoimages {
    display: block;
    text-align: center;
}

.wixlink {
    text-align: center;
    font-size: 30px;
}

.appwireframes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.vkpersonas {
    display: flex;
    justify-content: space-evenly;
}

hr.new4 {
    border-top: 3px solid white;
}

hr.new3 {
    border-top: 3px dashed white;
}

.hidden {
    display: none;
}

.homeslogan p {
    text-align: center;
    font-family: "Lobster", serif;
    color: white;
    font-size: 40px;
    margin-top: 40px;
}

.homepageicons {
    display: flex;
    justify-content: space-evenly;
}

#homepagerecent {
    border: 3px solid black;
    font-size: 50px;
}

hr.new4 {
    border-top: 3px dashed black;
}

.pageicons2 {
    font-size: medium;
    margin-top: 40px;
    color: white;
}


.homepageicons {
    font-size: medium;
    margin-top: 40px;
    color: white;
}
.mnavIcon {
    display: none;
}
@media screen and (max-width: 450px) {
    body{
        margin: 0;
    }
    .homepagekv {
        transition: transform;
    }
    .homepagekv:hover {
        -ms-transform: scale(0.75);
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    .homepagecorporatevideo {
        transition: transform;
    }
    .homepagecorporatevideo:hover {
        -ms-transform: scale(0.75);
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    .homepagevk {
        transition: transform;
    }
    .homepagevk:hover {
        -ms-transform: scale(0.75);
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    .mobilenav {
        display: block;
        height: 40px;
        overflow: hidden;
        margin: 0;
        font-size: 20px;
    }
    .mobileView {
        text-align: center;
    }
    .mnavIcon {
        display: block;
        text-align: center;
        font-size: 30px;
    }
    .mobileView {
        display: block;
        font-size: 15px;
    }
    .mobileView h1 {
        font-size: 25px;
    }
    .programicons a{
        display: block;
        width: 100%;
        font-size: 30px;
    }
    .expanded {
        height: 250px;
    }
    .homeslogan p {
        padding: 10px;
        text-align: center;
        font-size: 30px;
    }
    .logoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Thumbnails {
        display: block;
        border: 2px solid black;
    }

    .Thumbnails img {
        max-width: 100%;
    }

    .Thumbnails>div {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .Thumbnails p {
        font-size: 15px;
        padding: 10px;
    }

    .paperprototypes {
        display: block;
        border: 2px solid black;
    }

    .paperprototypes img {
        width: 100%;
    }

    .paperprototypes.smallWidth,
    .videoprototypes.smallWidth {
        width: 60%;
        margin: auto;
    }

    #corporatevideolink iframe {
        width: 100% !important;
    }

    .videoprototypes {
        display: block;
        margin-top: 20px;
        border: 2px solid black;
    }

    .videoprototypes img {
        width: 100%;
    }
    .portfoiopageinfo {
        font-size: 20px;
        padding: 10px;
    }
}

.logoContainer {
    display: flex;
    justify-content: space-between;
}

.mobileviewhomepage {
    display: inline;
}

.mobileimage {
    overflow: hidden;
}

@media screen and (min-width:451px) and (max-width: 850px) {
    .mobileimage {
        overflow: hidden;
    }
}